BLL_WCF/Service References/SrvEmpleado/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SrvEmpleado" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServicio_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerEmpleadosLista_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadosLista" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerEmpleadosLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadosListaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ActualizarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicio_ActualizarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerEmpleadoDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadoDetalle" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerEmpleadoDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadoDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_BorrarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicio_BorrarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AgregarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicio_AgregarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/GetData" message="tns:IServicio_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/GetDataResponse" message="tns:IServicio_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/GetDataUsingDataContract" message="tns:IServicio_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/GetDataUsingDataContractResponse" message="tns:IServicio_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleadosLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerEmpleadosLista" message="tns:IServicio_ObtenerEmpleadosLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerEmpleadosListaResponse" message="tns:IServicio_ObtenerEmpleadosLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ActualizarEmpleado" message="tns:IServicio_ActualizarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ActualizarEmpleadoResponse" message="tns:IServicio_ActualizarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleadoDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerEmpleadoDetalle" message="tns:IServicio_ObtenerEmpleadoDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerEmpleadoDetalleResponse" message="tns:IServicio_ObtenerEmpleadoDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/BorrarEmpleado" message="tns:IServicio_BorrarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BorrarEmpleadoResponse" message="tns:IServicio_BorrarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AgregarEmpleado" message="tns:IServicio_AgregarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AgregarEmpleadoResponse" message="tns:IServicio_AgregarEmpleado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicio" type="tns:IServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServicio/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServicio/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleadosLista">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerEmpleadosLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicio/ActualizarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleadoDetalle">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerEmpleadoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicio/BorrarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicio/AgregarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="BasicHttpBinding_IServicio" binding="tns:BasicHttpBinding_IServicio">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SrvEmpleado/Servicio" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>